/* Light Font */
@font-face {
    font-family: 'Poppins';
    src: url('../assets/fonts/Poppins/Poppins-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

/* Medium Font */
@font-face {
    font-family: 'Poppins';
    src: url('../assets/fonts/Poppins/Poppins-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

/* Bold Font */
@font-face {
    font-family: 'Poppins';
    src: url('../assets/fonts/Poppins/Poppins-Bold.ttf') format('truetype');
    font-weight: 700; /* Bold */
    font-style: normal;
}

:root {
    background: linear-gradient(45deg, rgba(5,0,89,1) 0%, rgba(0,58,175,1) 31%, rgba(0,112,217,1) 53%, rgba(0,212,255,1) 100%);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    color: white;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    min-width: 100vw;
    min-height: 100vh;
    overflow-x: hidden; 
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    text-align: center;
    font-size: 1rem;
    padding: 0.2rem;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
    background-color: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(10px); /* Burada bulanıklık ekleniyor */
    -webkit-backdrop-filter: blur(10px); /* Safari uyumluluğu için */
    z-index: 1000;
}

.icon {
    width: auto;
    max-height: 100%;
}

.main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 34.6rem;
    margin: auto;
    margin-top: 3rem;
    padding: 2rem;
}

.current-container {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: auto;
    padding: 2rem;
    width: 100%;
    text-align: center;
    background-color: rgb(0, 0, 0, 0.2);
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
    border-radius: 3rem;
}

.current-location {
    display: flex;
    align-items: end;
    gap: 1rem;
    font-size: 3rem;
}

.current-location p:nth-of-type(2) {
    font-size: 2rem;
}

.current-weather-image {
    width: 15rem;
    height: 15rem;
    margin-top: -2rem;
}

.current-weather-main {
    font-size: 2rem;
    margin-top: -2.5rem;
}

.current-weather-description {
    font-size: 1.2rem;
    margin-top: 0.4rem;
    margin-bottom: 2rem;
}

.current-weather-degree,
.current-weather-feels-like,
.current-weather-humidity,
.current-weather-wind {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    width: 9rem;
    height: 1.5rem;
    filter: brightness(0) invert(1);
    font-size: 1.3rem;
    margin-top: 0.5rem;
}

.today-container {
    display: flex;
    flex-direction: row;
    overflow: auto;
    margin: auto;
    padding: 1rem;
    margin-top: 1.5rem;
    margin-left: -1rem;
    width: calc(100% + 1.1rem);
    gap: 1rem;
}

.today {
    padding: 1.5rem 2rem;
    background-color: rgb(0, 0, 0, 0.2);
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
    border-radius: 3rem;
}

.today-time {
    font-size: 1rem;
}

.today-weather-image {
    height: 5rem;
    width: 5em;
    margin: -0.5rem auto;
}

.today-weather-degree,
.today-weather-feels-like,
.today-weather-humidity,
.today-weather-wind {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 1rem;
    filter: brightness(0) invert(1);
    font-size: 1rem;
    gap: 0.5rem;
    margin-top: 0.5rem;
}

.upcoming-container {
    display: flex;
    flex-direction: column;
    margin: 1.5rem auto;
    gap: 1rem;
    width: 100%;
    text-align: center;
}

.upcoming {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0 2rem;
    background-color: rgb(0, 0, 0, 0.2);
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
    border-radius: 3rem;
}

.upcoming-day {
    font-size: 1.3rem;
    width: 6rem;
}

.upcoming-lower-container {
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
    margin-left: 9rem;
}

.upcoming-weather-degree,
.upcoming-weather-humidity,
.upcoming-weather-wind {
    display: flex;
    justify-content: space-between;
    height: 1rem;
    filter: brightness(0) invert(1);
    font-size: 1rem;
    gap: 0.5rem;
}

.upcoming-weather-image {
    height: 5rem;
    width: 5rem;
    margin-right: -1.4rem;
}

.cookie-banner {
    display: none;
    align-items: center;
    justify-content: center;
    margin: auto;
    position: fixed;
    z-index: 1000;
    background-color: rgb(0, 0, 0, 0.2);
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
    border-radius: 3rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.cookie-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 29rem;
    height: 12rem;
    border-radius: 3rem;
    text-align: center;
    margin: auto;
}

.cookie-content p {
    font-size: 1.2rem;
}

.cookie-content button {
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 3rem;
    cursor: pointer;
    background-color: white;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
    transition: all ease-in-out 0.1s ;
    margin-top: 2rem;
}

.cookie-content button:hover {
    cursor: pointer;
    transform: scale(1.05);
}

.location-information-container {
    display: none;
    align-items: center;
    justify-content: center;
    margin: auto;
    position: fixed;
    z-index: 1000;
    background-color: rgb(0, 0, 0, 0.2);
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
    border-radius: 3rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.location-information {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 34rem;
    height: 12rem;
    border-radius: 3rem;
    text-align: center;
    margin: auto;
}

.location-information p {
    font-size: 1.2rem;
}

.location-information button {
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 3rem;
    cursor: pointer;
    background-color: white;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
    transition: all ease-in-out 0.1s ;
    margin-top: 2rem;
}

.location-information button:hover {
    cursor: pointer;
    transform: scale(1.05);
}

#loading-screen {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.spinner {
    width: 50px;
    height: 50px;
    border: 5px solid rgba(0, 0, 0, 0.1);
    border-top: 5px solid white;
    border-radius: 50%;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

#loading-screen p {
    margin-top: 15px;
    font-size: 16px;
}

@media (max-width: 553.6px) {
    .main-container {
        position: absolute;
        top: calc(50% + 2rem);
        left: 50%;
        transform: translate(-50%, -50%) scale(0.75);
    }

    .cookie-banner, .location-information-container {
        position: absolute;
        top: calc(50%);
        left: 50%;
        transform: translate(-50%, -50%) scale(0.75);
    }
}